* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
  border-radius: 100px;
}

.spacer-v {
  min-height: 10px;
}

.spacer-h {
  min-width: 10px;
}

.rice-update-available {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.rice-update-available label {
  color: $--foreground--;
  font-size: 25px;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
}

.keybinds-parent-box {
  background-color: transparent;
  border: none;
}

.keybinds,
.keybinds-fullscreen {
  background-color: $--background2--;
  border: none;
  border-top: 8px solid $--background2--;
  border-radius: 0px;
  color: $--foreground--;
}

.keybinds {
  min-height: 750px;
  border-radius: 12px 12px 10px 10px;
}

.keybinds-fullscreen label,
.keybinds label {
  font-size: 20px;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
}

.close-button {
  background-color: $--close-button--;
  border: none;
  min-width: 48px;
  min-height: 40px;
}

.close-button label {
  color: $--close-button-foreground--;
  font-size: 30px;
  font-weight: bold;
  padding-right: 12px;
}

.titlebar {
  background-color: $--background3--;
  border: none;
  margin: 0px;
  padding: 4px;
  border-radius: 10px 10px 0px 0px;
}

.titlebar-title label {
  color: $--foreground--;
  font-size: 25px;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  margin-left: 12px;
}

scrollbar {
  background-color: transparent;
  min-width: 1px;
  min-height: 10px;
  margin: 4px;
  border: none;
  border-radius: 50px;
}

scrollbar slider {
  background-color: $--slider--;
  min-width: 14px;
  min-height: 20px;
  border: none;
  border-radius: 50px;
  margin: 2px;
}

.window-module {
  background-color: $--background4--;
  border: none;
  border-radius: 5px;
  margin-bottom: -6px;
  margin-left: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.window-module label {
  color: $--foreground--;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 15px;
  font-weight: bold;
}

.workspace-button {
  background-color: $--button--;
  border: none;
  border-bottom: 8px solid $--button-bottom--;
  border-radius: 5px;
  margin-left: 4px;
  margin-bottom: -6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.workspace-button label {
  color: #282828;
  font-family: JetBrainsMono Nerd Font, sans-sherif;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  background-color: $--background2--;
  border-bottom: 8px solid $--background2-bottom--;
  color: $--foreground--;
  border-radius: 0px;
}

.bar-menu {
  background-color: $--rgba-background-o1--;
  border: none;
  color: $--foreground--;
  padding: 20px;
  border-radius: 10px;
}

.bar-menu-button {
  background-color: $--button--;
  border: none;
  border-radius: 100px;
  text-shadow: none;
  box-shadow: none;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.bar-menu-button label {
  color: $--button-foreground--;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 20px;
  font-family: JetBrainsMono Nerd Font, monospace;
}

.sbr-1 {
  margin-top: 40px;
}

.bar-menu-spacer {
  min-height: 50px;
}

.metric scale trough highlight {
  all: unset;
  background-color: $--metric-slider--;
  color: #000000;
  border-radius: 50px;
}

.metric scale trough {
  all: unset;
  background-color: $--metric-slider-background--;
  border-radius: 50px;
  min-height: 18px;
  min-width: 200px;
  margin-left: -50px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  color: $--foreground--;
  font-family: bold;
}

.metric label {
  min-width: 40px;
}

.metric-label {
  margin-left: -90px;
}

.metric-label-text label {
  font-size: 28px;
  color: $--metric-slider-foreground--;
}

.powermenu-window {
  background-color: $--rgba-background-o1--;
  border: none;
  color: $--foreground--;
  padding: 20px;
  border-radius: 10px;
}

.powermenu-window label {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 22px;
  color: $--foreground--;
  background-color: $--background3--;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

.powermenu-button {
  background-color: $--powermenu-button--;
  border: none;
  border-radius: 100px;
  text-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.powermenu-button label {
  color: $--powermenu-button-foreground--;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 25px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  background: none;
  border: none;
  padding: 0px;
}

.powermenu-poweroff-button label {
  padding-right: 6px;
}

.powermenu-reboot-button label {
  padding-left: 8px;
}

.powermenu-spacer-v {
  min-height: 20px;
}

.powermenu-button-spacer {
  min-width: 10px;
}
