* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @--rgba-background-o0--;
    color: @--foreground--;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    all: unset;
    background-color: @--button--;
    color: @--button-foreground--;
    border: none;
    border-radius: 100px;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: JetBrainsMono Nerd Font, sans-sherif;
    font-weight: bold;
    font-size: 14px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: transform 0.1s ease-in-out;
}

button:hover {
    background: inherit;
    background-color: @--button-hover--;
}

button.active {
    background: inherit;
    background-color: @--button-active--;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#custom-scripted_clock,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-swaync,
#custom-menu,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    background-color: @--background3--;
    color: @--foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-swaync {
    background-color: @--button--;
    color: @--button-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 13px;
    padding-right: 9px;
}

#custom-menu {
    background-color: @--button--;
    color: @--button-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 14px;
    padding-right: 8px;
}

#custom-powermenu {
    background-color: @--powermenu-button--;
    color: @--powermenu-button-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 6px;
    padding-left: 14px;
    padding-right: 7px;
}

#custom-scripted_clock,
#clock {
    background-color: @--waybar-clock--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#battery {
    background-color: @--waybar-battery--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @--waybar-battery-critical--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @--waybar-cpu--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#memory {
    background-color: @--waybar-memory--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: @--waybar-backlight--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @--waybar-pulseaudio--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/*
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
*/

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @--waybar-tray--;
    color: @--waybar-module-foreground--;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

tooltip {
  background-color: @--background--;
  border: none;
  border-radius: 100px;
}

tooltip decoration {
  box-shadow: none;
}

tooltip decoration:backdrop {
  box-shadow: none;
}

tooltip label {
  color: @--foreground--;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 1px;
}
